@model Models.ViewModels.ProductVM

@{
    ViewData["Title"] = (Model.Product.Id!=0?"Update" : "Create");
}
<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden/>
    <input asp-for="Product.ImageUrl" hidden/>
    <div class="row">
        <div class ="col-10">
            <div class="border p-3 mt-4 row" >
        <div class="col-12 pb-2">
            <h2 class="text-primary">@(Model.Product.Id!=0?"Update" : "Create") Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>     
        <div class="mb-3 ">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="imageUrl" name="file" class="form-control" />
            
        </div> 
         <div class="mb-3 col-6">
            <label asp-for="Product.CategoryId"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control" >
                <option selected disabled>
                    --Select Category--
                </option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div> 
        <div class="col-12">
            @if (Model.Product.Id!=0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
            }
            else
            {
                 <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
            }
            

        
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Go back</a>
        </div>
    </div>

        </div>
        <div class = "col-2 pt-4">
             <img src="@Model.Product.ImageUrl" width="200%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
    
</form>

@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput(){
            if (document.getElementById("imageUrl").value == "") {
                Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Please upload an image!',
})
                return false;
            }
            return true;
        }
        
    </script>
}
