@model IEnumerable<ShoppingList>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Shopping Lists</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Home" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-clipboard-plus"></i> &nbsp; Create new shopping list</a>
        </div>
    </div>
    <br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Shopping List Name
            </th>
            <th class="w-25">
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shoppingList in Model)
        {
            <tr>
                <th>
                    @shoppingList.Name
                </th>
                <th>
                    <div class="w-25 btn-group" role="group">
                        <a asp-controller="Home" asp-action="Edit" asp-route-id="@shoppingList.Id"
                        class="btn btn-primary mx-1"><i class="bi bi-pen"></i> Edit </a>
                    </div>
                    <div class="w-25 btn-group" role="group">
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@shoppingList.Id"
                        class="btn btn-danger mx-1"><i class="bi bi-trash"></i> Delete </a>
                    </div>
                </th>
            </tr>
        }
    </tbody>
</table>
</div>

